.profile__edit-button {
  margin-bottom: 9px;
  grid-area: edit-button;
  background-image: url(../../../images/Vector.svg) ;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  background-color: transparent;
  padding: 7px;
  box-sizing: border-box;
  border: 1px solid #fff;
  display: flex;
  align-self: flex-end;
}

@media screen and (min-width: 672px) and (max-width: 876px) {
  .profile__edit-button {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 581px) and (max-width: 652px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    padding: 7px;
  }
}
