.page {
  margin: 0 auto;
  font-family: 'Inter', 'arial', sans-serif;
  font-style: normal;
  max-width: 880px;
  min-width: 282px;
  width: 100%;
}

@media screen and (min-width: 321px) and (max-width: 970px) {
  .page {
    width: 750px;
  }
}
