@import url(./vendor/normalize.css);
@import url(./fonts/fonts.css);

.root {
  background-color: black;
  margin: 0;
  max-width: 1280px;
  min-width: 320px;

}

.page {
  margin: 0 auto;
  font-family: 'Inter', 'arial', sans-serif;
  font-style: normal;
  max-width: 880px;
  min-width: 282px;
  width: 100%;
}

.header {
  border-bottom: #545454 1px solid;
  padding: 45px 0 41px;
  margin-bottom: 40px;
  max-width: 880px;

}

.header__link {

}

.header__logo {


}

.main {
display: flex;
flex-direction: column;
}

.profile {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.profile__avatar {
  margin-right: 30px;
  background-image: url(./images/Profile.png);
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile__info {
  color: white;
  display: grid;
  grid-template-areas:
  "text-title edit-button"
  "text-subtitle text-subtitle" ;
  column-gap: 18px;
  row-gap: 16px;
  margin-right: auto;
  max-width: 336px;
}

.profile__name {
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  max-width: 294px;
  grid-area: text-title;
  align-self: flex-end;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  margin-bottom: 9px;
  grid-area: edit-button;
  background-image: url(./images/Vector.svg) ;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  background-color: transparent;
  padding: 7px;
  box-sizing: border-box;
  border: 1px solid #fff;
  display: flex;
  align-self: flex-end;
}

.profile__subtitle {
  max-width: 336px;
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__add-button {
  background-image: url(./images/Vector2.svg) ;
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 50px;
  background-color: transparent;
  padding: 14px 64px;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 2px;
  display: flex;
  align-self: center;
}



.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  column-gap: 17px;
  row-gap: 20px;
  justify-content: center;
  width: 100%;
  margin-bottom: 67px;
}

.elements__element {
display: flex;
flex-direction: column;
}

.elements__photo {
 width: 282px;
 height: 282px;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
}

.elements__explanation {
  width: 246px;
  height: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 25px 15px 31px 21px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;



}

.elements__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 219px;
}

.elements__vector {
  background-image: url(./images/Vector1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 22px;
  height: 19px;
  background-color: transparent;
  border: none;
  display: block;
}

.elements__vector_active {
  background-image: url(./images/Union.svg);
}

.elements__vector:hover {
  opacity: .5;
}

.popup{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  position:fixed;
  display: none;
  justify-content: center;
  align-items: center;
}

.popup_opened {
  display: flex;
}

.popup__container {
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  max-width: 430px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px 37px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 .popup__button-close {
   width: 32px;
   height: 32px;
   position: absolute;
   background-image: url(./images/CloseIcon.png);
   top: -40px;
   right: -40px;
   background-color: transparent;
   border: none;
   cursor: pointer;
 }

 .popup__button-close:hover {
   opacity: .6;
 }

.popup__form {

 }

 .popup__title {
  font-family: 'Inter', 'arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 54px;
 }

 .popup__input {
  font-family: 'Inter', 'arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding: 0 0 13px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin-bottom: 30px;
  width: 100%;
 }


.popup__input:last-of-type {
  margin: 0;
}

.popup__button-submit {
  width: 358px;
  height: 50px;
  background-color: black;
  border-radius: 2px;
  border: none;
  font-family: 'Inter', 'arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  margin-top: 48px;

}

.popup__button-submit:hover {
opacity: .8;
}

.footer {
margin: 0 0 60px 200px;
}

.footer__text {
  width: 318px;
  margin: 0;
  font-family: 'Inter', 'arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  
}
