.header {
  border-bottom: #545454 1px solid;
  padding: 45px 0 41px;
  margin-bottom: 40px;
  max-width: 880px;

}

@media screen and (max-width: 320px) {
  .header {
    margin: 0 0 42px 0;
    padding: 28px 0 32px 27px;
  }
}
