.elements__explanation {
  height: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 25px 15px 31px 21px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
