.popup__button-close {
   width: 32px;
   height: 32px;
   position: absolute;
   background-image: url(../../../images/CloseIcon.png);
   top: -40px;
   right: -40px;
   background-color: transparent;
   border: none;
   cursor: pointer;
   background-size: contain;
 }

.popup__button-close:hover {
  opacity: .6;
}

@media screen and (max-width: 700px) {
  .popup__button-close {
  background-size: contain;
   right: 0;
   width: 20px;
   height: 20px;
   justify-content: center;
   align-self: center;
   align-items: center;
  }
}


