.profile__info {
  color: white;
  display: grid;
  grid-template-areas:
  "text-title edit-button"
  "text-subtitle text-subtitle" ;
  column-gap: 18px;
  row-gap: 16px;
  margin-right: auto;
  max-width: 336px;
}

@media screen and (min-width: 571px) and (max-width: 585px) {
  .profile__info {
    margin: auto;
  }
}

@media screen and (max-width: 570px) {
  .profile__info {
    column-gap: 10px;
    row-gap: 10px;
    margin: 0 0 33px;
  }
}
