.popup__button-submit {
  width: 358px;
  height: 50px;
  background-color: black;
  border-radius: 2px;
  border: none;
  font-family: 'Inter', 'arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  margin-top: 48px;
}

.popup__button-submit:hover {
  opacity: .8;
}

@media screen and (max-width: 700px) {
  .popup__button-submit {
    width: 238px;
    height: 46px;
    margin-top: 13px;
    font-size: 14px;
    line-height: 17px;

  }
}
